html{
    background-color: #DAF5FF;
}
/* Nav Section */
nav{
    background-color: #191825; 
    font-family: monospace;
    position: fixed;
    z-index: 1;
    width: 100%;
}
nav li a{
    color: #F6F1F1;
    text-decoration: none;
}
nav li{
    list-style-type: none;
}
.nav-link:hover{
    font-weight: bold;
}
.section-heading{
    font-family: monospace;
}
/* Home */
#home-container{
    position: relative;
    height: 800px;
    /* text-align: center; */
}
#home-container h1{
    position:relative;
    text-align: center;
    bottom: 500px;
}
#home-background{
    width: 100%;
    height: 100%;
    /* margin: 0; */
    /* padding: 0; */
}
/* Projects */
.project-card{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 50px;
    margin:20px;
}

/* Skills */

/* Experience */


/* Footer Section */
footer{
    background-color: #191825;
}
footer {
    color: #F6F1F1;
}

/* Media Queries */

/* Desktop sizes */